<h1>Hakkımızda Merak Edilenler</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
	</div>
	<div class="col-md-8">
		<p>Üretim uygulamları konusunda 2003 yılından bugüne dek hizmet veren local yazılım firması olarak çalışmaktayız. Koltuk, Mobilya, Sandaley ve Donmuş gıda sektöründe hizmetler vermekteyiz.</p>

	</div>

</div>
