<h1>Bizimle çalışmak ister misiniz? </h1>

<hr>

<div class="row">
		<div class="col-md-6">
			<h3> Ofis Adresi </h3>

			<p> Kemalpaşa Mahallesi Adliye Sokak Göktürk İş Merkezi No:6 D:4 </p>
			<h3>Telefon</h3> 

				<p><%= number_to_phone "2242515839" %></p>
				<h3>Email</h3>
				<p><a href="mailto:huseyin@selective.net.tr?subject=PortfolioContact" "email me"> huseyin@selective.net.tr </a> </p>
</div>
	<div class="col-md-6">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3053.108139213508!2d29.502596515459775!3d40.07299988439629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cbc95faead7e55%3A0xc2507d65d0828b9e!2zU2VsZWN0aXZlIFlhesSxbMSxbQ!5e0!3m2!1str!2str!4v1543223971459" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

	</div>
 </div>
