  <div class="inner cover">
    <h1 class="cover-heading">Selective Yazılım</h1>
    <p class="lead">Koltuk - Mobilya - Sandalye sektörleri için yazılmış en iddialı üretim takip uygulamaları</p>
    <p class="lead">
       <%= link_to "Hakkımızda", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>


